$color-primary: #ADCf9F;
$color-secondary: #76BA99;
$color-light-background: rgb(248, 248, 248);
$color-light-grey: #efefef;

$color-font-light: white;
$color-font-medium: #b9b4b4;
$color-font-dark: #708090;
