$color-primary: #498830;
$color-secondary: #EE7501;

$color-background-dark: #212b20;
$color-background-light: #fcfafa;

$color-primary-transparent: #49883042;
$color-light-grey: #efefef;

$color-font-light: white;
$color-font-medium: #c6c6c6;
$color-font-dark: #414549;

$color-warning: #ffd257;
$color-warning-bg: #fff5da;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;