$color-primary: #498830;
$color-secondary: #EE7501;
$color-primary-transparent: #49883042;
$color-light-background: rgb(248, 248, 248);
$color-light-grey: #efefef;

$color-font-light: white;
$color-font-medium: #c6c6c6;
$color-font-dark: #555c62;

$color-warning: #ffd257;
$color-warning-bg: #fff8e4;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
